.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: #262626;
}

.fontName {
  font-family: 'Vobca-Black', monospace, sans-serif;
  font-size: 100px;
  font-weight: 900;
}